<div id="menuwrapper">
    <ul id="primary-nav">

        {% for item in site.data.nav.menu %}

            {% if item.url == page.url %}
                <li class="menuparent menuactive">
                    <a class="menuparent menuactive" href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
            {% else %}
                <li class="menuparent">
                    <a class="menuparent" href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
            {% endif %}

            {% if item.children %}
                <ul>
                {% for item in item.children %}
                    <li>
                        <a class="" href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}

            </li>

        {% endfor %}

    </ul>
</div>

