$link-color: #33c;
$bkg-color: #ddd;
$border-color: #ccc;

#menu {
    float: right;
    width: 74%;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            a:link,
            a:visited {
                font-size: 15px;
                font-weight: bold;
                color: $link-color;
                text-decoration: none;
            }
        }
    }

    ul#primary-nav {
        height: 50px;

        li {
            float: left;
            margin-left: 26px;
            position: relative;
            width: 110px;
            height: 25px;
            line-height: 25px;
            padding: 3px;

            a.menuactive {
                text-decoration: underline;
            }
        }

        li.menuparent ul {
            display: none;
            position: absolute;
            width: 100%;
            left: 0;
            top: 25px;
        }

        li.menuparent:hover ul {
            display: block;
            border: 1px solid $border-color;
        }

        li.menuparent ul li {
            clear: both;
            margin-left: 0;
            position: relative;
            z-index: 1;
            background-color: $bkg-color;
        }
    }
}
