<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}- {{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    <div id="wrap">
        <div id="outer">
            <div id="mainContent">
                <div id="inner">
                    <div id="header">
                        <div id="headerContent">
                            {{ site.title }}
                        </div>
                    </div>

                    <div id="menu">
                        *menu template="dropDownMenu" start_level="1" number_of_levels="2"* 
                    </div>

                    <div id="content">
                        <h3>{{ page.title }}</h3>
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
