<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    {% include head.html %}
  <body>
    <div id="wrap">
        <div id="outer">
            <div id="mainContent">
                <div id="inner">
                    <div id="header">
                        <div id="headerContent">
                            {{ site.title }}
                        </div>
                    </div>

                    <div id="menu">
                        {% include nav.html %}
                    </div>

                    <div id="content">
                        <h3>{{ page.title }}</h3>
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
