{% include bodyUpper.html %}

<script src="/assets/js/lightbox-2.6.min.js"></script>
<link href="/assets/css/lightbox.css" rel="stylesheet" />

{% for gallery in site.data.galleries %}

    {% if gallery.id == page.galleryId %}
        <div class="gallery">
            {% for image in gallery.images %}
                <div class="img">
                    <a href="{{ gallery.imagefolder }}/{{ image.name }}" data-lightbox="{{ gallery.id }}" title="{{ image.text }}">
                        <img src="{{ gallery.imagefolder }}/thumbs/{{ image.thumb }}" class="thumb" />
                    </a>
                </div>
            {% endfor %}
            <div class="galleryclear">&nbsp;</div>
        </div>
    {% endif %}

{% endfor %}

{% include bodyLower.html %}
